@import './utils/_fonts';
@import './utils/variables';
@import './base';
@import './utils/utils';
@import './utils/texts';
@import './components/buttons';
@import './layouts/section';
@import './layouts/header';
@import './layouts/hero-section';
@import './layouts/advantages-section';
@import './layouts/traditions-section';
@import './layouts/chefs-section';
@import './components/chef-card';
@import './layouts/formats-section';
@import './components/format-card';
@import './layouts/contact-section';
@import './components/form-terms';
@import './components/input';
@import './components/links';

.container {
  max-width: 1288px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

/* Carousel */
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: transparent;
  fill: var(--color-primary-dark);
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
  transition-duration: background-color, fill;
  transition-duration: 0.3s;
}

.carousel-button:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-primary-light);
}

.carousel-button.next {
  transform: rotate(180deg);
}

/* Contact section */


/* Footer */
.footer {
  position: relative;
  padding: 32px 0;
  background-color: var(--color-primary-dark);
  background-image: url('../images/footer-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer::before,
.footer::after {
  content: '';
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
}

.footer::before {
  width: 180px;
  height: 120px;
  left: 0;
  background-image: url('../images/bread-small.png');
}

.footer::after {
  width: 380px;
  height: 190px;
  right: 0;
  background-image: url('../images/bread-large.png');
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}

.address-list,
.address-info {
  flex-grow: 1;
}

.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  font-style: normal;
}

.address-link:hover {
  color: var(--color-brand-normal);
}

.address-icon {
  fill: var(--color-primary-light);
}

.address-icon:hover {
  fill: var(--color-brand-normal);
}

.address-copyright {
  font-size: 14px;
}

/* Modaal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 0;
  transition-property: opacity, visibility;
  transition-duration: 0.3s;

  &.is-hidden {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
}

.modal {
  position: relative;
  max-width: 880px;
  width: 100%;
  max-height: 880px;
  height: 100%;
  padding: 128px;
  background-color: var(--color-primary-light);
  border-radius: 32px;
  overflow-y: auto;

  &__btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
  }

  &__form-field {
    margin-bottom: 32px;
  }

  &__button {
    display: block;
    margin: 0 auto 24px;
  }
}